<% if user_signed_in? %> 
 <div>
 	<h1 class="text-3xl font-bold underline">
 		Welcome <%= current_user.email %>
 	</h1>
 </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
<h1>Hello BlogPost!</h1>